<h1>Show Profile</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @profile.name %>
  </li>

  <li>
    <strong>Photo:</strong>
    <%= @profile.photo %>
  </li>

  <li>
    <strong>City:</strong>
    <%= @profile.city %>
  </li>

  <li>
    <strong>Country:</strong>
    <%= @profile.country %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.profile_path(@conn, :edit, @profile) %></span>
<span><%= link "Back", to: Routes.profile_path(@conn, :index) %></span>
